consumerKey=XXXXXXXXXXXXXXXX
consumerSecret=XXXXXXXXXXXXXXXX
accessToken=XXXXXXXXXXXXXXXX
accessTokenSecret=XXXXXXXXXXXXXXXX
callBackUrl=XXXXXXXXXXXXXXXX
password=XXXXXXXXXXXXXXXX
mobile=XXXXXXXXXXXXXXXX
twilioAssignedPhoneNumber=XXXXXXXXXXXXXXXX
twilioAccountSid=XXXXXXXXXXXXXXXX
twilioAuthToken=XXXXXXXXXXXXXXXX
enableAuth=false